
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 150px;
    max-height: 150px;
}

.main_image {
    max-width: 300px;
    max-height: 300px;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1f2937;
    color: white;
    align-items: center;
    padding-top: 20px;

}

.header ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 16px;

}

.header p {
    font-size: 24px;
}



.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    align-items: center;

    margin-top: auto;

    padding-left: 200px;
    padding-right: 200px;

    padding-top: 50px;
    padding-bottom: 50px;

}


.hero {

    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1f2937;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;

    align-items: center;
}

.heroleft {
    display: flex;
    flex-direction: column;
    padding-right: 40px;

    flex-grow: 1;
}

.heroleft button {
    background-color: #3882f6;
    color: white;
    align-self: flex-start;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: black;
    margin-top: 10px;
    font-size:medium;
}

.heroleft p {
    font-size: 18px;
    color: #b1b8c8;
}



.information {
    padding-left: 200px;
    padding-right: 200px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
}


.cards_info {
    padding-top: 40px;
    display: flex;
    gap: 40px;
    font-size: large;
}

.card img {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 8px;
    margin-bottom: 7px;
    max-width: 200px;
    max-height: 200px;

}




.quote {
    padding-left: 400px;
    padding-right: 400px;
    background-color: #e5e7eb;
    padding-top: 40px;
    padding-bottom: 40px;

    text-align: center;
    color: #414449;
    font-size: 36px;
}

.person{
    text-align: right;
    font-weight: bolder;
    font-size: 30px;
    color: black;
}



.call_to_action {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content {
    margin: 20px;
    background-color: #3882f6;
    padding: 70px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.text_content {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
    
}

.content button{
    background-color: #3882f6;
    color: white;
    align-self: flex-end;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid white;
    font-size:medium;
}


h1{
    font-size: 48px;
    font-weight: bolder;
}